.chartPageContainer {
    background-color: white;
    border-radius: 20px;
    height: 90%;
    width: 80%;
    color: black;
}

/* .chooseFileButton {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
} */

.chooseFileButton + label {
    border-radius: 20px;
    font-size: 1em;
    font-weight: 700;
    color: black;
    background-color: #BEE82E;
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
}

.chooseFileButton:focus + label, .chooseFileButton + label:hover {
    background-color: #C6FF04;
}