.chartPageContainer {
    background-color: white;
    border-radius: 20px;
    height: 90%;
    width: 80%;
    color: black;
}

.dropZone {
    background-color: gray;
    height: 50px;
    width: 200px;
}